<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="{% url 'App:register' %}" method="post">
    {% csrf_token %}

    用户名:<input type="text" name="username"><span>{{ form.username.errors }}</span><br>
    密码:<input type="password" name="password"><span>{{ form.password.errors }}</span><br>
    确认密码： <input type="password" name="confirm_password"> <span>{{ form.confirm_password.errors }}</span> <br>
    email： <input type="text" name="email"><span>{{ form.email.errors }}</span> <br>
    phone： <input type="text" name="phone"><span>{{ form.phone.errors }}</span> <br>
    {{ form.errors }}
    <input type="submit">
</form>
</body>
</html>